

.photoarea {
    /* position: relative; */
    height: 100vh;
    background-color: rgb(8, 8, 8);
}

.text h1 {
    color: white;
}

.ageResult {
    color: white;
}

.resultbutton {
    background-color: #869ef5;
    width: 4rem;
    height: 2.5rem;
    border-radius:  35%;
    border: solid;
}